node_modules
.env
.env.production
deployinfo.json

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Others
echo "node_modules/
wallet-info.json
*.log
.DS_Store
data/
temp/" >> .gitignore
